<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" id="menu" width="175" z-index="9">
    <ion-content class="menu-left">
      <div class="header-left">
        <div class="text-center font-lg" ng-click="app.debug = !app.debug">
          <i class="icon ion-ios-person-outline"></i>
          <br/> Jon Snow
        </div>
      </div>
      <ion-list>

        <ion-item menu-close href="#/app/setting">
          Setting
        </ion-item>

        <ion-item menu-close href="#/app/why">
          Why Things ?
        </ion-item>

        <ion-item menu-close href="#/app/invit">
          Invite friends
        </ion-item>

        <ion-item menu-close href="#/app/help">
          Help
        </ion-item>

        <div ng-if="app.debug">
          <div class="item item-divider"></div>
          
          <ion-item menu-close href="#/login">
            Login
          </ion-item>

          <ion-item menu-close href="#/app/map">
            Map
          </ion-item>

          <ion-item menu-close href="#/app/log">
            <i class="icon ion-hammer"></i> Logs
          </ion-item>
        </div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>